html {
    align-items: center;
}

.gantt-container {
    min-height: 200px;
    /* Ensures visibility */
    border: 1px solid #ddd;
    /* Makes the container visible */
    position: relative;
}

.no-tasks-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
    font-size: 16px;
}

svg {
    width: 100%;
}

.cover {
    position: fixed;
    /* Ensures it covers the screen and stays in place */
    top: 0;
    left: 0;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    background-color: rgb(33, 32, 32);
    /* Dark background */
    color: white;
    /* Text color */
    font-size: 0.6rem;
    z-index: 9999;
    text-align: center;
    overflow: auto;
}

.cover button {
    display: flex;
    height: 70px;
    width: 200px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#form {
    align-items: center;
    display: none;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}

#form h1 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

#form label {
    font-size: 1rem;
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #555;
}

#form input,
#form select {
    height: 40px;
    width: 89%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#form input:focus,
#form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#form select {
    cursor: pointer;
    background-color: #fff;
}

#form option {
    font-size: 14px;
}

#form button {
    display: inline-block;
    height: 40px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#form li {
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

@media (max-width: 480px) {
    #form {
        max-width: 100%;
        padding: 15px;
    }
}