body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 700px) {
    .container {
        max-height: 100%;
        margin: 0;
        border-radius: 0;
        max-width: 347px;
    }

}

p {
    font-size: 26px;
    margin: 10px 0;
}

p strong {
    color: #4A4A4A;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #45a049;
}