<!-- Header Content -->
<header>
    <div class="header-content">
        <h1><a href="/">Team Flow</a></h1>
        <nav>
            <ul>
                <li><a href="/User"><img src="/img/user.png" alt="user" width="25px" height="25px"></a></li>
                <li><a href="/Settings">⚙️</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>