<!-- Header Content -->

<head>
    <link rel="rel" type="image/png" href="/images/icon.png">
</head>
<header id="HD">
    <div class="header-content">
        <h1 id="HDTitle"><a href="/">Team Flow</a></h1>
        <nav id="HDNav">
            <ul id="HDList">
                <li class="HDLitem"><a href="/User" class="HDLitemLink">User</a></li>
                <li class="HDLitem"><a href="/Settings" class="HDLitemLink">Settings</a></li>
                <li class="HDLitem"><a href="/about" class="HDLitemLink">About</a></li>
            </ul>
        </nav>
    </div>
</header>