<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Header.css">
    <link rel="stylesheet" type="text/css"  href="/CSS/home.css">
    <script src="/js/home.js"></script>
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <% if (typeof Code !=="undefined" ) { %>
            <%- Code %>
                <% } else { %>
                    <p>No user data available. Please wait for the data to be
                        retrieved.</p>
                    <script>
                        setTimeout(function () {
                            location.reload();
                        }, 3000); // Wait 3 seconds before reloading
                    </script>
                    <% } %>
</body>

</html>
