<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/Home.css">
    <script src="/js/home.js"></script>
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <div id="members">
            <div id="sidebar">
                <ul class="top-section">
                    <li><a class="sideA" href="/Projects">Projects</a></li>
                    <li><a class="sideA" href="/Chats">Chats</a></li>
                </ul>
                <ul class="bottom-section">
                    <li><a class="sideA" href="/User">User</a></li>
                    <li><a class="sideA" href="/Settings">Settings</a></li>
                    <li>
                        <form action="/logout" method="POST">
                            <button class="sideA" type="submit">
                                Logout
                            </button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
        <div id="super">

        </div>

</body>

</html>