<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Header.css">
    <link rel="stylesheet" type="text/css" href="/CSS/login.css">
    <script src="/js/login.js"></script>
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <h1 class="info">logging into the company flow</h1>
        <h2 class="info">pick what you are a supervisor or a Memeber and log into the flow</h2>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'supervisor')">supervisor</button>
            <button class="tablinks" onclick="openTab(event, 'Memeber')">Memebers</button>
        </div>

        <div id="supervisor" class="tabcontent">
            <div class="login-container">
                <h1>Login</h1>
                <form action="/Slogin" method="POST">
                    <input type="text" name="email" placeholder="email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="text" name="company email" placeholder="Company email" required>
                    <button class="button" type="submit">Login</button>
                </form>
            </div>
        </div>

        <div id="Memeber" class="tabcontent">
            <div class="login-container">
                <h1>Login</h1>
                <form action="/Mlogin" method="POST">
                    <input type="email" name="email" placeholder="email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="email" name="company email" placeholder="Company email" required>
                    <button class="button" type="submit">Login</button>
                </form>
            </div>
        </div>
</body>

</html>