<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/Project.css">
    <script src="/JS/Project.js"></script>
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <button id="addProject">Add Project</button>
        <div id="modalOverlay" class="hidden">
            <div class="model">
                <h3>create new project</h3>
                <form id="projectForm">
                    <p>Project Name and description</p>
                    <input type="text" name="projectName" id="projectName" required>
                    <input type="text" name="projectDescription" id="projectDescription" required>
                    <p>project start and end dates</p>
                    <input type="date" name="projectStartDate" id="projectStartDate" required>
                    <input type="date" name="projectDeadline" id="projectDeadline" required>
                    <p>project status</p>
                    <input type="text" name="projectStatus" id="projectStatus" required>
                    <p>Group Members</p>
                    <select id="projectDropDown">
                        <option value="" disabled selected>Select members</option>
                        <% members.forEach(function(member) { %>
                            <option value="<%= member.email %>">
                                <%= member.firstName %>
                                    <%= member.lastName %>
                            </option>
                            <% }); %>
                    </select>
                    <button type="button" onclick="addMember()">add</button>
                    <list id="memberList"></list>
                    <br>
                    <button id="createProjectBtn">Create</button>
                </form>
                <br>
                <br>
                <button class="button" id="closeModelBtn">Cancel</button>
            </div>
        </div>
        <div id="BCover"></div>
        <div>

        </div>
</body>