<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task</title>
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/task.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>
    <script src="/js/task.js"></script>
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <div id="main">
            <div id="content">
                <h2 id="Help">click the tabs to see the dashboard of the task or the chats or the members in the task
                </h2>
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'ComInfo')">Dashboard</button>
                    <button class="tablinks" onclick="openTab(event, 'Super')">Task Chats</button>
                    <button class="tablinks" onclick="openTab(event, 'TeamMem')">Team Memebers</button>
                </div>

                <div id="ComInfo" class="tabcontent">
                    <svg id="gantt"></svg>
                    <div id="no-tasks" class="no-tasks-message" style="display: none;">No tasks to display</div>
                    <label for="progress">Overall Task Progress:</label>
                    <input type="range" id="progress" name="progress" min="0" max="100" value="50">
                    <span id="progress-value">50%</span>
                    <button type="button" id="submit" onclick="progress()">Submit</button>

                </div>

                <div id="Super" class="tabcontent">

                </div>

                <div id="TeamMem" class="tabcontent">

                </div>
                <%= task %>
            </div>
            <script>
                window.taskData = {
                    startDate: "<%= task.start %>",
                    endDate: "<%= task.end %>",
                }
            </script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    let progressSlider = document.getElementById("progress");
                    let progressValue = document.getElementById("progress-value");

                    // Update the label when the slider moves
                    progressSlider.addEventListener("input", function () {
                        progressValue.textContent = progressSlider.value + "%";
                    });
                });
            </script>
</body>

</html>